.btn {
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;

  &.black {
    background-color: $black;
    color: $white;
  }

  &.blue {
    background-color: $blue;
    color: $white;
  }
}
