<section id="about" class="about">
  <!-- CONTAINER -->

  <h2>A little about me...</h2>

  <div class="about__container">
    <p class="about__description">
      I'm Software Engineer since 2011 and Frontend developer 6 years ago aprox. JS enthusiat with experience in
      IT projects, passionate about creating high-impact digital solutions, I value the power and relevance that design
      has in them.
      Strong commitment to the quality of results and good management of multidisciplinary teams. (I love #Javascript)
      <br><br><b> <a target="_blank"
          href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001339000">💡
          CVLac Research Profile</a> | <a target="_blank"
          href="https://globant.acamica.com/@joshua_daza_rincon/cursos-completados">💡
          Formation Courses (IT)</a></b>
      <span class="signature">JDR</span><br>

    </p>

    <div class="about__foto">
      <img width="150px" src="../../../assets/images/josh-min.jpeg" alt="Joshua Daza Picture" class="image">
    </div>
  </div>

  <h2>Tech Skills...</h2>

  <app-skills></app-skills>

  <!-- END OF CONTAINER -->
</section>
