<section id="about" class="about">
  <!-- CONTAINER -->

  <h2>Presentation</h2>

  <div class="about__container">
    <div class="section">
      <p class="about__description">
        "I'm a software engineer with 10 years of experience creating web-based
        solutions. My specialty is delivering impactful UI experiences with high
        quality and performance, addressing all business requirements and giving
        your product a fresh look and feel."
        <span class="signature">JDR</span>
      </p>

      <div class="cta-container">
        <a
          href="https://scienti.minciencias.gov.co/cvlac/visualizador/generarCurriculoCv.do?cod_rh=0001339000"
          class="btn black"
          >💡 CVLac Research Profile</a
        >
        <a
          target="_blank"
          class="btn blue"
          href="https://globant.acamica.com/@joshua_daza_rincon/cursos-completados"
          >💡 Formation Courses (IT)</a
        >
      </div>
    </div>

    <div class="about__foto">
      <img
        width="150px"
        src="/assets/images/joshuaDR.webp"
        alt="Joshua Daza Picture"
        class="image"
      />
    </div>
  </div>

  <h2>Tech Skills...</h2>

  <app-skills></app-skills>

  <!-- END OF CONTAINER -->
</section>
