<section id="about" class="about">
  <!-- CONTAINER -->

  <h2>a little about me...</h2>

  <div class="about__container">
    <p class="about__description">
      I'm Software Engineering at Frontend developer JS with experience in technology-based project management, I am
      passionate about creating high-impact digital solutions, I value the power and relevance that design has in them.
      Strong commitment to the quality of results and good management of multidisciplinary teams. (I love #Javascript)

      <span class="signature">JDR</span>

    </p>

    <div class="about__foto">
      <img width="200px" src="../../../assets/images/josh-min.jpeg" alt="Joshua Daza Picture" class="image">
    </div>
  </div>

  <h2>Tech Skills...</h2>

  <app-skills></app-skills>


  <!-- END OF CONTAINER -->

</section>
